*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #f0f1fa;
}

* {
  margin: 0;
  padding: 0;
}

.right > span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #151284;
}

.cs-padding-cs {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30rem 0;
  text-align: center;
}

.cs-padding {
  max-width: 120rem;
  margin: 0 auto;
  padding: 23rem 3.2rem;
}

.cs-padding > h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
}

.cs-padding > p {
  padding: 20px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160.19%;
  text-align: center;
  color: #4e4e4e;
}

.join-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.join-wrapper > input {
  width: 100%;
  max-width: 400px;
  height: 64px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 20px;
  color: #4e4e4e;
}

.join-wrapper > input:hover {
  border: 1px solid #151284;
}

.join-wrapper > button {
  height: 64px;
  width: 132px;
  background: #151284;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.join-wrapper > button:hover {
  background: #0d0d5a;
}

.creators {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creators > div:first-child {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.creators > div:first-child > img {
  width: 44px;
  height: 44px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: -8px;
}

.creators > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 128.9%;
  text-align: center;
  color: #4e4e4e;
}

@media screen and (max-width: 1120px) {
  header {
    padding: 0 20px;
  }

  .cs-padding {
    padding: 70px 20px;
  }
}

@media screen and (max-width: 768px) {
  .join-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
