
.video-space{
    margin-top: 12rem;
    height: 75rem;
    /* border: .3rem solid red; */

}
.math-vid{
    float:left ;
    overflow-y: scroll;
}
.mod1{
    /* border:  2px solid green; */
    height: 74rem;
    width: 32%;
    margin-left: 102rem;
    overflow-y: auto;
}
.mod-head{
    text-align: center;
    margin:2rem auto 1rem auto ;
}
.module{
    padding: 2rem 1rem 2rem 1.2rem;
    /* height:; */
    border: .1rem solid black;
    margin-bottom: .5rem;
    border-radius: 1rem;
    margin-right: 1rem;
}