.tutorial-main-div{
    height: 200rem;
    /* border: .3rem solid red; */
    background-color: #f8f8fd;
    text-align: center;
    padding-top: 13rem;
}
.heading{
    color: #6674cc;
    font-size: 5rem;
}
.video-section1{
    width: 95%;
    /* border: .3rem solid red; */
    margin: 8rem auto 0rem auto;
    display: flex;
    gap: 4rem;
}
.video-section2{
    width: 95%;
    /* border: .3rem solid red; */
    margin: 10rem auto 0rem auto;
    display: flex;
    gap: 4rem;
}
.video-section3{
    width: 95%;
    /* border: .3rem solid red; */
    margin: 10rem auto 0rem auto;
    display: flex;
    gap: 4rem;
}
.tutorial
{
    width: 4800rem;
    height: 40rem;
    /* border: .3rem solid rgb(74, 21, 21); */
    border-radius: 1.5rem;
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
    line-height: 2rem;
}
.video-img{
   height: 23rem ;
   width:99%;
   border-radius: 1.5rem 1.5rem 0 0;
}
.ai{
    height: 23rem ;
    width: 33rem;
    border-radius: 1.5rem 1.5rem 0 0;
    position: absolute;
    top: 126rem;
    backdrop-filter: blur(2px);
}
.lock{
    margin-top: 7rem;
    margin-right: 4rem;
    width: 9rem;
}
.iot{
    height: 23rem ;
    width: 33rem;
    border-radius: 1.5rem 1.5rem 0 0;
    position: absolute;
    top: 126rem;
    backdrop-filter: blur(2px);
}
.lock1{
    margin-top: 7rem;
    margin-right: 4rem;
    width: 9rem;
}
.lock2{
    margin-top: 7rem;
    margin-left: 1rem;
    width: 9rem;
}
.coming-soon{
    margin-top: 2rem;
    color: #6674cc;
}
.ai-head,.iot-head{
    margin-top: 2.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: .6;
}
.mech-head{

   width: 30rem;
   font-size: 1.5rem;
    font-weight: 700;
    opacity: .6;
    margin: 2.8rem auto 0 auto;
}
.chem-head,.phy-head,.math1-head,.c-head,.python-head,.electro-head,.electrical-head,.softskills-head,.maths2-head{
    font-size: 1.5rem;
    font-weight: 700;
    opacity: .6;
    margin: 2.8rem auto 0 auto;
}